# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages

name: Publish Cardano Bar VSCode Extension

on:
  release:
    types: [published]

jobs:
  build:
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
      - name: Install dependencies
        run: npm install
      - name: Build packages
        run: |
          cd packages/cardano-bar
          npm run build
      - name: Build VSCode extension
        run: |
          cd apps/vscode-extension
          npm run package
      - name: Run tests (Linux)
        run: |
          cd apps/vscode-extension
          xvfb-run -a npm run test
        if: runner.os == 'Linux'
      - name: Run tests (Non-Linux)
        run: |
          cd apps/vscode-extension
          npm run test
        if: runner.os != 'Linux'

  publish-cardano-bar-core:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 18.x
          registry-url: https://registry.npmjs.org/
      - name: Install dependencies and build
        run: |
          npm install
          cd packages/cardano-bar
          npm run build
      - name: Publish to npm
        run: cd packages/cardano-bar && npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

  publish-vscode-extension:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 18.x
          registry-url: https://registry.npmjs.org/
      - name: Install dependencies and build
        run: |
          npm install
          cd packages/cardano-bar
          npm run build
          cd ../../apps/vscode-extension
          npm run package
      - name: Publish to VSCode Marketplace
        run: |
          cd apps/vscode-extension
          npm run deploy
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }}

  github-releases-to-discord:
    needs: [publish-cardano-bar-core, publish-vscode-extension]
    if: always() && (needs.publish-cardano-bar-core.result == 'success' || needs.publish-vscode-extension.result == 'success')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Github Releases To Discord
        uses: SethCohen/github-releases-to-discord@v1
        with:
          webhook_url: ${{ secrets.WEBHOOK_URL }}
          color: "2105893"
          username: "cardano-bar"
          avatar_url: "https://raw.githubusercontent.com/sidan-lab/brand_assets/refs/heads/main/sidan_s_square.png"
          content: "Hey fellow Cardano devs! New version of [cardano-bar](https://github.com/sidan-lab/cardano-bar) has been published:"
          footer_title: "Changelog"
          reduce_headings: true
